@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Poppins:wght@300&display=swap');
body {
  font-family: "poppins";
}
@media (min-width: 992px) {
  .rounded-lg-3 { border-radius: .3rem; }
}
.form-control-dark {
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}
#earthCanvas { margin: 0; overflow: hidden; }
canvas { display: block; }
.text-small {
  font-size: 85%;
}

.dropdown-toggle:not(:focus) {
  outline: 0;
}
.header {
font-family: 'Poppins', sans-serif;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.nav-link {
  color: white; /* Couleur du texte par défaut */
  transition: color 0.3s; /* Animation de transition de couleur */
}

.nav-link svg {
  fill: white; /* Couleur de l'icône par défaut */
  transition: fill 0.3s; /* Animation de transition de couleur de l'icône */
}

/* Style au survol */
.nav-link:hover {
  color: cyan!important; /* Couleur du texte au survol */
}

.nav-link:hover svg {
  fill: cyan!important; /* Couleur de l'icône au survol */
}
.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}

#image-1 {
  background-image: url("./images/by-products/cap/cap.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  transition: transform 0.3s ease;
}

#image-2 {
  background-image: url("./images/by-products/usb-key/usb-key_3colours.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  transition: transform 0.3s ease;
}

#image-3 {
  background-image: url("./images/by-products/keychain/keychain_wcolours.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  transition: transform 0.3s ease;
}

.btn-group a:hover{
color: white!important;
}

.wrapper {
  min-width: 100%;
  height: 500px;
  margin-top: -0.5px;
  background-image: url("https://grenoble-oxford.org/wp-content/uploads/2022/06/Oxford-university.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  }
  
  .wrapper p{
   padding-top: 220px;
      color: rgb(255, 255, 255);
      font-size: 32px;
      text-align: center;
  }

  
#abt-1 {
  background-image: url("./images/poster_flyer/flyer-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  transition: transform 0.3s ease;
}

#abt-2 {
  background-image: url("./images/poster_flyer/a1_poster.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  transition: transform 0.3s ease;
}

#abt-3 {
  background-image: url("./images/poster_flyer/flyer-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  transition: transform 0.3s ease;
}

#prod-1 {
  background-image: url("./images/by-products/cap/cap.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  transition: transform 0.3s ease;
}


#prod-2 {
  background-image: url("./images/by-products/usb-key/usb-key_3colours.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  transition: transform 0.3s ease;
}

#prod-3 {
  background-image: url("./images/by-products/mug/t-shirt.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  transition: transform 0.3s ease;
}

#prod-4 {
  background-image: url("./images/by-products/keychain/keychain_white.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  transition: transform 0.3s ease;
}

#prod-5 {
  background-image: url("./images/by-products/keychain/keychain_black.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  transition: transform 0.3s ease;
}

#prod-6 {
  background-image: url("./images/by-products/keychain/keychain_wcolours.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  transition: transform 0.3s ease;
}

#prod-7 {
  background-image: url("./images/by-products/mug/mug_coloursonwhite.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  transition: transform 0.3s ease;
}

#prod-8 {
  background-image: url("./images/by-products/mug/mug_blackonwhite.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  transition: transform 0.3s ease;
}

#prod-9 {
  background-image: url("./images/by-products/mug/water_bottle.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  transition: transform 0.3s ease;
}
#home-1:hover,
#image-1:hover,
#image-2:hover,
#image-3:hover,
#abt-1:hover,
#abt-2:hover,
#abt-3:hover,
#prod-1:hover,
#prod-2:hover,
#prod-3:hover,
#prod-4:hover,
#prod-5:hover,
#prod-6:hover,
#prod-7:hover,
#prod-8:hover,
#prod-9:hover {
  transform: scale(0.9);
}